<!DOCTYPE html>
<!-- Declaración del idioma para el documento -->
<html lang="es">

<head>
    <!-- Título del documento -->
    <title></title>
    <!-- Metadatos de la página web -->
    <meta charset="utf-8">
    <meta name="author" content=" ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- IMPORTACIÓN DE RECURSOS EXTERNOS -->
    <!-- Llamada al icono de la página web -->
    <link type="image/png" rel="icon" href="../../resources/img/icon.png">
    <!--Llamada a estilos personalizados-->
    <link href="../../resources/css/nav.css" rel="stylesheet">
    <link rel="stylesheet" href="../../resources/css/estado.css">
    <link rel="stylesheet" href="../../resources/css/busca.css">
    <link rel="stylesheet" href="../../resources/css/btn_e.css">
    <link rel="stylesheet" href="../../resources/css/tarjeta.css">
    <link rel="stylesheet" href="../../resources/css/card_2.css">
    <link rel="stylesheet" href="../../resources/css/univer.css">
    <link rel="stylesheet" href="../../resources/css/checkbox.css">
    <link rel="stylesheet" href="../../resources/css/input_b.css">
    <!-- Llamada a las hojas de estilos del framework e iconos -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <!--FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>

<body class="bodyp">
    <!-- Contenido principal del documento -->
    <main>
        <!-- Título del contenido principal -->
        <h3 id="mainTitle" class="mt-5 text-white"></h3>
        <!-- Fila que contiene el formulario de búsqueda y botones -->
        <div class="row">
            <!-- Formulario de búsqueda -->
            <form class="col-sm-12 col-md-12" id="searchForm">
                <div class="row">
                    <div class="col-lg-6 col-md-5 col-sm-6 mx-auto">
                        <!-- Campo de búsqueda -->
                        <div class="group">
                            <svg class="icon" aria-hidden="true" viewBox="0 0 24 24">
                                <g>
                                    <path
                                        d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z">
                                    </path>
                                </g>
                            </svg>
                            <input id="inputsearch" placeholder="Buscar..." type="search" class="inputSearch" required>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- Botones de la parte derecha -->
        <div class="col-sm-12 col-md-12 d-flex justify-content-end pb-3 pt-3">
            <!-- Botón para abrir una caja de diálogo al momento de crear un nuevo registro -->
            <button type="button" class="btnAgregar" onclick="openCreate()">
                Agregar
            </button>
        </div>
        <div colspan="6" id="rowsFound" class="text-white d-flex justify-content-center mb-4"></div>
        <!-- Cuerpo de la tabla para mostrar un registro por fila -->
        <div id="tableBody" class="row d-flex justify-content-center"></div>
        <!-- Componente Modal para guardar un registro -->
        <div class="modal fade" id="saveModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #5C2C0C;">
                        <!-- Título del modal -->
                        <h1 class="modal-title fs-5" id="modalTitle" style="color: white;"></h1>
                        <!-- Botón de cierre del modal -->
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Formulario para crear o actualizar un registro -->
                    <form id="saveForm" style="background-color: #DDA35D;">
                        <div class="modal-body row g-3">
                            <div class="col-12 d-flex justify-content-center">
                                <h5 style="color: white; font-weight: bold; ">Días disponibles</h5>
                            </div>
                            <div class="d-flex flex-row flex-wrap justify-content-center">

                                <div class="col-4 col-md-4 col-lg-1 mb-3">
                                    <div class="d-flex flex-column align-items-center">
                                        <span>L</span>
                                        <label class="checkbox-container">
                                            <input id="lunesER" class="custom-checkbox form-control" checked=""
                                                type="checkbox" name="lunesER">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-4 col-md-4 col-lg-1 mb-3 ">
                                    <div class="d-flex flex-column align-items-center">
                                        <span>M</span>
                                        <label class="checkbox-container">
                                            <input id="martesER" name="martesER" class="custom-checkbox form-control"
                                                checked="" type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-4 col-md-4 col-lg-1 mb-3 ">
                                    <div class="d-flex flex-column align-items-center">
                                        <span>X</span>
                                        <label class="checkbox-container">
                                            <input type="checkbox" id="miercolesER" name="miercolesER"
                                                class="custom-checkbox form-control" checked="">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-4 col-md-4 col-lg-1 mb-3 ">
                                    <div class="d-flex flex-column align-items-center">
                                        <span>J</span>
                                        <label class="checkbox-container">
                                            <input type="checkbox" id="juevesER" name="juevesER"
                                                class="custom-checkbox form-control" checked="">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-4 col-md-4 col-lg-1 mb-3 ">
                                    <div class="d-flex flex-column align-items-center">
                                        <span>V</span>
                                        <label class="checkbox-container">
                                            <input type="checkbox" id="viernesER" name="viernesER"
                                                class="custom-checkbox form-control" checked="">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-4 col-md-4 col-lg-1 mb-3">
                                    <div class="d-flex flex-column align-items-center ">
                                        <span>S</span>
                                        <label class="checkbox-container">
                                            <input type="checkbox" id="sabadoER" name="sabadoER"
                                                class="custom-checkbox form-control" checked="">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-4 col-md-4 col-lg-1 mb-3 ">
                                    <div class="d-flex flex-column align-items-center">
                                        <span>D</span>
                                        <label class="checkbox-container">
                                            <input id="domingoER" name="domingoER" class="custom-checkbox form-control"
                                                checked="" type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- Campos del formulario -->
                            <div class="col-sm-12 col-md-6">
                                <div class="input_box">
                                    <input required="" style="color: white; font-weight: bold;" id="nombreProducto"
                                        type="text" name="nombreProducto">
                                    <span>Nombre :</span>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="input_box">
                                    <span>Tipo Producto :</span>
                                    <select id="tipoProducto" style="color: white; font-weight: bold;"
                                        name="tipoProducto" class="form-select" required>
                                        <option value="Conjunto">Conjunto</option>
                                        <option value="Complementario">Complementario</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="input_box">
                                    <input required="" style="color: white; font-weight: bold;" id="precioProducto"
                                        type="number" name="precioProducto" min="0.01" step="0.01">
                                    <span>Precio (US$) :</span>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="input_box">
                                    <span>Horario :</span>
                                    <select id="horarioProducto" style="color: white; font-weight: bold;"
                                        name="horarioProducto" class="form-select" required>
                                        <option value="Desayuno">Desayuno</option>
                                        <option value="Almuerzo">Almuerzo</option>
                                        <option value="Cena">Cena</option>
                                        <option value="Típico">Típico</option>
                                        <option value="Todo el día">Todo el día</option>
                                        <option value="Desayuno y Almuerzo">Desayuno y Almuerzo</option>
                                        <option value="Desayuno y Cena">Desayuno y Cena</option>
                                        <option value="Almuerzo y Cena">Almuerzo y Cena</option>
                                        <option value="Típico y Desayuno">Típico y Desayuno</option>
                                        <option value="Típico y Almuerzo">Típico y Almuerzo</option>
                                        <option value="Tipico y Cena">Típico y Cena</option>
                                    </select>

                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input_box">
                                    <span>Imagen :</span>
                                    <textarea id="imagenProducto" type="text" name="imagenProducto" class="form-control"
                                        rows="3"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="row justify-content-center px-3 mb-1" id="imgPre"></div>
                            </div>
                            <div class="col-6">
                                <div class="p-3">
                                    <!-- Interruptor para el estado del registro -->
                                    <div class="switch-button">
                                        <p id="">Estado</p>
                                        <input type="checkbox" name="estadoProducto" id="estadoProducto"
                                            class="switch-button__checkbox form-control">
                                        <label for="estadoProducto" id="swa" class="switch-button__label"></label>
                                    </div>
                                </div>
                            </div>
                            <!-- Subtabla para Productos tallas -->
                            <div id="subtable" class="col-sm-12 col-md-5">
                                <div class="modal-header" style="background-color: #5C2C0C;">
                                    <!-- Título del modal -->
                                    <h1 class="modal-title fs-5" style="color: #FFFFFF;">Items</h1>
                                </div>
                                <!-- Formulario y botones para la subtabla -->
                                <form class="col-12" id="searchsubForm">
                                    <div class="row">
                                        <div class="col-12">
                                            <!-- Campo de búsqueda en la subtabla -->
                                            <div class="group" style="margin-top: 20px;">
                                                <svg class="icon" aria-hidden="true" viewBox="0 0 24 24">
                                                    <g>
                                                        <path
                                                            d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z">
                                                        </path>
                                                    </g>
                                                </svg>
                                                <input name="search" placeholder="Buscar..." type="search"
                                                    class="inputSearch">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!-- Tabla para mostrar los registros en la subtabla -->
                                <div id="subheaderT" class=" mt-4 table-responsive border-0 "
                                    style="max-height: 400px;  overflow-y: scroll; ">
                                    <!-- Cabeza de la tabla para mostrar la cantidad de registros y los títulos de las columnas -->
                                    <div>
                                        <div>
                                            <div colspan="3" id="subrowsFound" style="font-weight: bold; color: white;">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Cuerpo de la tabla para mostrar un registro por fila -->
                                    <div id="subtableBody"></div>
                                </div>
                            </div>
                            <div id="tableSelectedR" class="col-sm-12 col-md-7">
                                <div class="modal-header" style="background-color: #5C2C0C;">
                                    <!-- Título del modal -->
                                    <h1 class="modal-title fs-5" style="color: #FFFFFF;">Items seleccionados</h1>
                                </div>
                                <!-- Tabla para mostrar los registros en la subtabla -->
                                <div class="mt-4 table-responsive border-0"
                                    style="max-height: 200px; overflow-y: auto;">
                                    <table id="subheaderT" class="table table-hover">
                                        <!-- Cabeza de la tabla para mostrar la cantidad de registros y los títulos de las columnas -->
                                        <thead>
                                            <tr>
                                                <th>ITEM</th>
                                                <th>TIPO</th>
                                                <th>#</th>
                                                <th>ACCIONES</th>
                                            </tr>
                                        </thead>
                                        <!-- Cuerpo de la tabla para mostrar un registro por fila -->
                                        <tbody id="selectedItemsList"></tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- Pie del modal con el botón de guardar -->
                            <div class="modal-footer border-0 border-bottom">
                                <button type="submit" class="btn" style="background-color: #CCC8AA;">Guardar</button>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>

        <!-- Componente Modal para actualizar un registro -->
        <div class="modal fade" id="saveModalU" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <!-- Título del modal -->
                        <h1 class="modal-title fs-5">Actualizar Registro</h1>
                        <!-- Botón de cierre del modal -->
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Formulario para crear o actualizar un registro -->
                    <form id="saveFormU">
                        <div class="modal-body row g-3">
                            <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                            <input type="hidden" id="idProductoU" name="idProductoU">

                            <div class="col-12 d-flex justify-content-center">
                                <h5>Días disponibles</h5>
                            </div>
                            <div class="d-flex flex-row flex-wrap justify-content-center">

                                <div class="col-4 col-md-4 col-lg-1 mb-3">
                                    <div class="d-flex flex-column align-items-center">
                                        <span>L</span>
                                        <label class="checkbox-container">
                                            <input id="lunesEU" name="lunesEU" class="custom-checkbox" checked=""
                                                type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-4 col-md-4 col-lg-1 mb-3 ">
                                    <div class="d-flex flex-column align-items-center">
                                        <span>M</span>
                                        <label class="checkbox-container">
                                            <input id="martesEU" name="martesEU" class="custom-checkbox" checked=""
                                                type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-4 col-md-4 col-lg-1 mb-3 ">
                                    <div class="d-flex flex-column align-items-center">
                                        <span>X</span>
                                        <label class="checkbox-container">
                                            <input id="miercolesEU" name="miercolesEU" class="custom-checkbox"
                                                checked="" type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-4 col-md-4 col-lg-1 mb-3 ">
                                    <div class="d-flex flex-column align-items-center">
                                        <span>J</span>
                                        <label class="checkbox-container">
                                            <input id="juevesEU" name="juevesEU" class="custom-checkbox" checked=""
                                                type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-4 col-md-4 col-lg-1 mb-3 ">
                                    <div class="d-flex flex-column align-items-center">
                                        <span>V</span>
                                        <label class="checkbox-container">
                                            <input id="viernesEU" name="viernesEU" class="custom-checkbox" checked=""
                                                type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-4 col-md-4 col-lg-1 mb-3">
                                    <div class="d-flex flex-column align-items-center ">
                                        <span>S</span>
                                        <label class="checkbox-container">
                                            <input id="sabadoEU" name="sabadoEU" class="custom-checkbox" checked=""
                                                type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-4 col-md-4 col-lg-1 mb-3 ">
                                    <div class="d-flex flex-column align-items-center">
                                        <span>D</span>
                                        <label class="checkbox-container">
                                            <input id="domingoEU" name="domingoEU" class="custom-checkbox" checked=""
                                                type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- Campos del formulario -->
                            <div class="col-sm-12 col-md-6">
                                <label for="nombreProductoU" class="form-label">Nombre</label>
                                <input id="nombreProductoU" type="text" name="nombreProductoU" class="form-control"
                                    required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="tipoProductoU" class="form-label">Tipo Producto</label>
                                <select id="tipoProductoU" name="tipoProductoU" class="form-select" required>
                                    <option value="Conjunto">Conjunto</option>
                                    <option value="Complementario">Complementario</option>
                                </select>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="precioProductoU" class="form-label">Precio (US$)</label>
                                <input id="precioProductoU" type="number" name="precioProductoU" min="0.01" step="0.01"
                                    class="form-control" required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="horarioProductoU" class="form-label">Horario</label>
                                <select id="horarioProductoU" name="horarioProductoU" class="form-select" required>
                                    <option value="Desayuno">Desayuno</option>
                                    <option value="Almuerzo">Almuerzo</option>
                                    <option value="Cena">Cena</option>
                                    <option value="Típico">Típico</option>
                                    <option value="Todo el día">Todo el día</option>
                                    <option value="Desayuno y Almuerzo">Desayuno y Almuerzo</option>
                                    <option value="Desayuno y Cena">Desayuno y Cena</option>
                                    <option value="Almuerzo y Cena">Almuerzo y Cena</option>
                                    <option value="Típico y Desayuno">Típico y Desayuno</option>
                                    <option value="Típico y Almuerzo">Típico y Almuerzo</option>
                                    <option value="Tipico y Cena">Típico y Cena</option>
                                </select>
                            </div>
                            <div class="col-12">
                                <label for="imagenProductoU" class="form-label">URL imagen</label>
                                <textarea id="imagenProductoU" type="text" name="imagenProductoU" class="form-control"
                                    rows="3"></textarea>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="row justify-content-center px-3 mb-1" id="imgPreU"></div>
                            </div>
                            <div class="col-6">
                                <div class="p-3">
                                    <!-- Interruptor para el estado del registro -->
                                    <div class="switch-button">
                                        <p id="">Estado</p>
                                        <input type="checkbox" name="estadoProductoU" id="estadoProductoU"
                                            class="switch-button__checkbox form-control">
                                        <label for="estadoProductoU" id="swa" class="switch-button__label"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer border-0 border-bottom">
                                <button type="submit" class="btn" style="background-color: #CCC8AA;">Guardar</button>
                            </div>
                            <!-- Subtabla para Productos tallas -->
                            <div id="subtableU" class="col-sm-12 col-md-5">
                                <div class="modal-header">
                                    <!-- Título del modal -->
                                    <h1 class="modal-title fs-5">Items</h1>
                                </div>
                                <!-- TABLA DE Producto TALLAS-->
                                <div class="modal-header border-0">
                                    <h1 class="modal-title fs-5" id="submodalTitle"></h1>
                                </div>

                                <!-- Formulario y botones para la subtabla -->
                                <form class="col-12" id="searchsubFormU">
                                    <div class="row">
                                        <div class="col-12">
                                            <!-- Campo de búsqueda en la subtabla -->
                                            <input type="search" class="form-control" name="search"
                                                placeholder="Buscar">
                                        </div>
                                    </div>
                                </form>
                                <!-- Tabla para mostrar los registros en la subtabla -->
                                <div class="mt-4 table-responsive border-0"
                                    style="max-height: 200px; overflow-y: auto;">
                                    <table id="subheaderTU" class="cardlard">
                                        <!-- Cabeza de la tabla para mostrar la cantidad de registros y los títulos de las columnas -->
                                        <thead>
                                            <tr>
                                                <td colspan="6" id="subrowsFoundU"></td>
                                            </tr>
                                            <tr>
                                                <th>ITEM</th>
                                                <th>TIPO</th>
                                                <th>ACCIONES</th>
                                            </tr>
                                        </thead>
                                        <!-- Cuerpo de la tabla para mostrar un registro por fila -->
                                        <tbody id="subtableBodyU"></tbody>
                                    </table>
                                </div>

                            </div>
                            <div id="tableSelected" class="col-sm-12 col-md-7">
                                <div class="modal-header">
                                    <!-- Título del modal -->
                                    <h1 class="modal-title fs-5">Items seleccionados</h1>
                                </div>
                                <!-- Tabla para mostrar los registros en la subtabla -->
                                <div class="mt-4 table-responsive border-0"
                                    style="max-height: 200px; overflow-y: auto;">
                                    <table id="subheaderTU" class="table table-hover">
                                        <!-- Cabeza de la tabla para mostrar la cantidad de registros y los títulos de las columnas -->
                                        <thead>
                                            <tr>
                                                <th>ITEM</th>
                                                <th>TIPO</th>
                                                <th>#</th>
                                                <th>ACCIONES</th>
                                            </tr>
                                        </thead>
                                        <!-- Cuerpo de la tabla para mostrar un registro por fila -->
                                        <tbody id="selectedItemsListU"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Modal para guardar un registro en la subtabla de modelos tallas -->
        <div class="modal fade" id="savetreModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="tremodalTitle"></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                            onclick="subclose()">
                        </button>
                    </div>
                    <!-- Formulario para crear o actualizar un registro en la subtabla de modelos tallas -->
                    <form id="savetreForm">
                        <div class="modal-body row g-3 ">
                            <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                            <input type="hidden" id="idDetalleProducto" name="idDetalleProducto">
                            <input type="hidden" id="idProducto" name="idProducto">
                            <input type="hidden" id="idItem" name="idItem">
                            <div class="col-sm-12 col-md-6">
                                <label for="cantidadItem" class="form-label">Cantidad</label>
                                <input id="cantidadItem" type="number" name="cantidadItem" min="1" step="1"
                                    class="form-control" required>
                            </div>
                        </div>
                        <!-- Pie del modal con el botón de guardar -->
                        <div class="modal-footer border-0">
                            <button type="submit" class="btn" style="background-color: #CCC8AA;">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio privado -->
    <script type="text/javascript" src="../../controllers/utils/admin.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../../controllers/admin/1productos.js"></script>
    <script type="text/javascript" src="../../controllers/utils/FullS.js"></script>
</body>

</html>