<!DOCTYPE html>
<!-- Declaración del idioma para el documento -->
<html lang="es">

<head>
    <!-- Título del documento -->
    <title></title>
    <!-- Metadatos de la página web -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- IMPORTACIÓN DE RECURSOS EXTERNOS -->
    <!-- Llamada al icono de la página web -->
    <link type="image/png" rel="icon" href="../../resources/img/icon.png">
    <!--Llamada a estilos personalizados-->
    <link href="../../resources/css/nav.css" rel="stylesheet">
    <link rel="stylesheet" href="../../resources/css/estado.css">
    <link rel="stylesheet" href="../../resources/css/busca.css">
    <link rel="stylesheet" href="../../resources/css/btn_e.css">
    <link rel="stylesheet" href="../../resources/css/tarjeta.css">
    <link rel="stylesheet" href="../../resources/css/card_2.css">
    <link rel="stylesheet" href="../../resources/css/univer.css">
    <link rel="stylesheet" href="../../resources/css/checkbox.css">
    <link rel="stylesheet" href="../../resources/css/input_b.css">
    <!-- Llamada a las hojas de estilos del framework e iconos -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <!--FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>

<body class="bodyp">

    <!-- Contenido principal del documento -->
    <main>
        <!-- Título del contenido principal -->
        <h3 id="mainTitle" class="mt-5 text-white"></h3>
        <div id="mensaje"></div>
        <!-- Fila que contiene el formulario de búsqueda y botones -->
        <div class="row">
            <!-- Formulario de búsqueda -->
            <form class="col-sm-12 col-md-12" id="searchForm">
                <div class="row">
                    <div class="col-lg-6 col-md-5 col-sm-6 mx-auto">
                        <!-- Campo de búsqueda -->
                        <div class="group">
                            <svg class="icon" aria-hidden="true" viewBox="0 0 24 24">
                                <g>
                                    <path
                                        d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z">
                                    </path>
                                </g>
                            </svg>
                            <input id="inputsearch" placeholder="Buscar..." type="search" class="inputSearch" required>
                            <button type="button" class="btnAgregar mx-2" onclick="openStateReport()">
                                <i class="bi bi-file-earmark-pdf"></i>
                            </button>
                            <button type="button" class="btnAgregar mx-2" onclick="openPredictReport()">
                                <i class="bi bi-graph-up-arrow"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row d-flex justify-content-center mt-4">
            <div class="col-4 d-flex justify-content-center">
                <button onclick="fillTable('Pendiente')" id="btnPendiente" type="button" class="btnAgregar"
                    style="float: right;">
                    Pendiente
                </button>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <button onclick="fillTable('Finalizado')" id="btnFinalizado" type="button" class="btnAgregar">
                    Finalizado
                </button>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <button onclick="fillTable('No escogido')" id="btnNoEscogido" type="button" class="btnAgregar"
                    style="float: right;">
                    No escogido
                </button>
            </div>
        </div>

        <!-- Tabla con registros -->
        <div colspan="6" id="rowsFound" class="text-white d-flex justify-content-center m-4"></div>
        <!-- Cuerpo de la tabla para mostrar un registro por fila -->
        <div class="apa">
            <div class="row row-md-12">

                <div class="col-3">
                    <p class="elemtoCampoTabla">NOMBRES</p>
                </div>
                <div class="col-3">
                    <p class="elemtoCampoTabla">FECHA</p>
                </div>
                <div class="col-1 me-5">
                    <p class="elemtoCampoTabla">ESTADO</p>
                </div>
                <div class="col-2 ms-4">
                </div>
            </div>
        </div>
        <div class="table-responsive scrollbar" style="max-height: 380px; overflow-y: auto;">
            <div id="tableBody"></div>
        </div>

        <!-- Componente Modal para guardar un registro -->
        <div class="modal fade" id="saveModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #5C2C0C;">
                        <!-- Título del modal -->
                        <h1 class="modal-title fs-5 text-white" id="modalTitle"></h1>
                        <!-- Botón de cierre del modal -->
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <!-- Formulario para crear o actualizar un registro -->
                    <form id="saveForm" style="background-color: #DDA35D;">
                        <div class="modal-body row g-4">
                            <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                            <input type="hidden" id="idPedido" name="idPedido">
                            <!-- Campos del formulario -->
                            <div class="col-sm-12 col-md-6">
                                <div class="input_box">
                                    <input required="" style="color: white; font-weight: bold;" id="clientePedido"
                                        type="text" name="clientePedido">
                                    <span>Cliente :</span>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="input_box">
                                    <input required="" style="color: white; font-weight: bold;" id="fechaPedido"
                                        type="text" name="fechaPedido">
                                    <span>Fecha :</span>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="input_box">
                                    <input required="" style="color: white; font-weight: bold;" id="estadoPedido"
                                        type="text" name="estadoPedido">
                                    <span>Estado :</span>
                                </div>
                            </div>

                            <!-- Subtabla para mostrar los detalles del pedido -->
                            <div id="subtable">
                                <!-- TABLA DE MODELO TALLAS -->
                                <div class="modal-header border-0 row text-white" style="background-color: #5C2C0C;">
                                    <div class="col-md-6 col-sm-12">
                                        <h1 class="modal-title fs-5" id="submodalTitle"></h1>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <input id="subinputsearch" type="search" class="form-control" name="search"
                                            placeholder="Buscar" required>
                                    </div>
                                </div>
                                <br>
                                <div style="color: white;" colspan="6" id="subrowsFound"></div>

                                <!-- Subtabla para mostrar los detalles del pedido -->
                                <div class="table-responsive" style="max-height: 200px; overflow-y: auto;">
                                    <table id="subheaderT" class="carditem table-hover">
                                        <!-- Cabeza de la tabla para mostrar la cantidad de registros y los títulos de las columnas -->
                                        <thead>
                                            <tr>
                                                <th class="text-center">IMAGEN</th>
                                                <th>PRODUCTO</th>
                                                <th class="text-center">CANTIDAD</th>
                                                <th>PRECIO</th>
                                                <th>TOTAL</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <!-- Cuerpo de la tabla para mostrar un registro por fila -->
                                        <tbody id="subtableBody"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!-- Pie del modal sin botones de acción -->
                        <div class="modal-footer border-0">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Componente Modal para mostrar una caja de diálogo -->
        <div class="modal fade" id="detalleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <!-- Contenido del componente Modal -->
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #5C2C0C;">
                        <h1 class="modal-title fs-5 text-white" id="modalTitle">Nota</h1>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                            aria-label="Close" onclick="subClose()"></button>

                    </div>
                    <!-- Formulario para actualizar cantidad -->
                    <form id="detalleForm" style="background-color: #DDA35D;">
                        <div class="modal-body row">
                            <h1 class="fs-5" id="stock"></h1>
                            <div class="col-sm-12">
                                <label for="notaPedido" class="form-label">Descripción</label>
                                <textarea id="notaPedido" type="text" name="notaPedido" class="form-control" rows="4"
                                    disabled="true"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </main>


    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <script type="text/javascript" src="../../controllers/utils/inactividad.js"></script>
    <!-- Llamada al controlador del sitio privado -->
    <script type="text/javascript" src="../../controllers/utils/admin.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../../controllers/admin/2pedidos.js"></script>
</body>

</html>
