<!DOCTYPE html>
<!-- Declaración del idioma para el documento -->
<html lang="es">

<head>
    <!-- Título del documento -->
    <title></title>
    <!-- Metadatos de la página web -->
    <meta charset="utf-8">
    <meta name="author" content=" ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- IMPORTACIÓN DE RECURSOS EXTERNOS -->
    <!-- Llamada al icono de la página web -->
    <link href="../../resources/css/nav.css" rel="stylesheet">
    <link rel="stylesheet" href="../../resources/css/estado.css">
    <link rel="stylesheet" href="../../resources/css/card2.css">
    <link rel="stylesheet" href="../../resources/css/btnE.css">
    <!-- Llamada a las hojas de estilos del framework e iconos -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../resources/css/univer.css">
    <link rel="stylesheet" href="../../resources/css/btnE.css">
</head>

<body class="bodyp">
    <!-- Contenido principal del documento -->
    <main>
        <!-- Título del contenido principal -->
        <h3 id="mainTitle" class="mt-5 text-white" ></h3>

        <!-- Fila que contiene el formulario de búsqueda y botones -->
        <div class="row">
            <!-- Formulario de búsqueda -->
            <form class="col-sm-12 col-md-12" id="searchForm">
                <div class="row">
                    <div class="col-lg-6 col-md-5 col-sm-6 mx-auto">
                        <!-- Campo de búsqueda -->
                        <input id="inputsearch" type="search" class="form-control barraBusquedaRol" name="search"
                            placeholder="Buscar" required>
                    </div>

                </div>
            </form>

        </div>

        <div class="row">
            <div class="col-lg-2 col-2"></div>
            <p style="color: #FFFFFF;" colspan="6" id="rowsFound" class="text col-10 col-md-4 px-1 mt-4 mb-4"></p>
        </div>
        <!-- Cuerpo de la tabla para mostrar un registro por fila -->
        <div class="row apa">
            <div class="col-2 ms-4 text-center">
                <p style="font-weight: bold; color: white;">APELLIDOS</p>
            </div>
            <div class="col-2 ms-4  text-center">
                <p style="font-weight: bold; color: white;">NOMBRE</p>
            </div>
            <div class="col-3 ms-4  text-center">
                <p style="font-weight: bold; color: white;">TELÉFONO</p>
            </div>
            <div class="col-3 ms-5 text-center">
                <p style="font-weight: bold; color: white;">CORREO</p>
            </div>
        </div>
        <div class="table-responsive scrollbar" style="max-height: 380px; overflow-y: auto;">
            <div id="tableBody"></div>
        </div>


        <!-- Componente Modal para guardar un registro -->
        <div class="modal fade" id="saveModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <!-- Título del modal -->
                        <h1 class="modal-title fs-5" id="modalTitle"></h1>
                        <!-- Botón de cierre del modal -->
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Formulario para guardar un registro -->
                    <form id="saveForm">
                        <div class="modal-body row g-3">
                            <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                            <input type="hidden" id="idCliente" name="idCliente">

                            <!-- Campos del formulario -->
                            <div class="col-sm-12 col-md-6">
                                <label for="nombreCliente" class="form-label">Nombre</label>
                                <input id="nombreCliente" type="text" name="nombreCliente" class="form-control"
                                    required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="apellidoCliente" class="form-label">Apellido</label>
                                <input id="apellidoCliente" type="text" name="apellidoCliente" class="form-control"
                                    required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="correoCliente" class="form-label">Correo</label>
                                <input id="correoCliente" type="text" name="correoCliente" class="form-control"
                                    required>
                            </div>
                        </div>
                        <!-- Pie del modal con botón de guardar -->
                        <div class="modal-footer border-0">
                            <button id="idGuardar" type="submit" class="btn"
                                style="background-color: #CCC8AA;">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio privado -->
    <script type="text/javascript" src="../../controllers/utils/admin.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../../controllers/admin/5clientes.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

</body>

</html>