<!DOCTYPE html>
<!-- Declaración del idioma para el documento -->
<html lang="es">

<head>
    <!-- Título del documento -->
    <title></title>
    <!-- Metadatos de la página web -->
    <meta charset="utf-8">
    <meta name="author" content=" ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- IMPORTACIÓN DE RECURSOS EXTERNOS -->
    <!-- Llamada al icono de la página web -->
    <link href="../../resources/css/nav.css" rel="stylesheet">
    <link rel="stylesheet" href="../../resources/css/estado.css">
    <link rel="stylesheet" href="../../resources/css/card_2.css">
    <link rel="stylesheet" href="../../resources/css/btn_e.css">
    <link rel="stylesheet" href="../../resources/css/univer.css">
    <link rel="stylesheet" href="../../resources/css/busca.css">
    <link rel="stylesheet" href="../../resources/css/input_b.css">
    <!-- Llamada a las hojas de estilos del framework e iconos -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>

<body class="bodyp">
    <!-- Contenido principal del documento -->
    <main>
        <!-- Título del contenido principal -->
        <h3 id="mainTitle" class="mt-5 text-white"></h3>
        <div id="mensaje"></div>
        <!-- Fila que contiene el formulario de búsqueda y botones -->
        <div class="row">
            <!-- Formulario de búsqueda -->
            <form class="col-sm-12 col-md-12" id="searchForm">
                <div class="row">
                    <div class="col-lg-6 col-md-5 col-sm-6 mx-auto">
                        <!-- Campo de búsqueda -->
                        <div class="group">
                            <svg class="icon" aria-hidden="true" viewBox="0 0 24 24">
                                <g>
                                    <path
                                        d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z">
                                    </path>
                                </g>
                            </svg>
                            <input id="inputsearch" placeholder="Buscar..." type="search" class="inputSearch" required>
                        </div>
                    </div>

                </div>
            </form>
        </div>

        <!-- Botones de la parte derecha -->
        <div class="col-sm-12 col-md-12 d-flex justify-content-end ">
            <!-- Botón para abrir una caja de diálogo al momento de crear un nuevo registro -->
            <button type="button" class="m-1 btnAgregar3" onclick="openCreate()">
                <i class="bi bi-plus-square-fill"></i> Agregar
            </button>
            <button type="button" class="m-1 btnAgregar3" onclick="openTopReport()">
                <i class="bi bi-file-earmark-pdf"></i>
            </button>
            <button type="button" class="m-1 btnAgregar3" onclick="openReportPred()">
                <i class="bi bi-person-fill-up"></i>
            </button>
        </div>


        <div colspan="6" id="rowsFound" class="text-white d-flex justify-content-center mb-4"></div>
        <!-- Cuerpo de la tabla para mostrar un registro por fila -->
        <div class="apa">
            <div class="row">
                <div class="col-md-2">
                    <p class="elemtoCampoTabla">APELLIDOS</p>
                </div>
                <div class="col-md-2 ">
                    <p class="elemtoCampoTabla">NOMBRES</p>
                </div>
                <div class="col-md-2 ">
                    <p class="elemtoCampoTabla">TELÉFONO</p>
                </div>
                <div class="col-md-3">
                    <p class="elemtoCampoTabla">CORREO</p>
                </div>
                <div class="col-md-2 "> <!-- El css de estado-column esta en el archivo card_2.css-->
                    <p class="elemtoCampoTabla">ESTADO</p>
                </div>
            </div>
        </div>
        <div class="table-responsive scrollbar" style="max-height: 380px; overflow-y: auto;">
            <div id="tableBody"></div>
        </div>


        <!-- Componente Modal para guardar un registro -->
        <div class="modal fade" id="saveModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #5C2C0C;">
                        <!-- Título del modal -->
                        <h1 class="modal-title fs-5 text-white" id="modalTitle"></h1>
                        <!-- Botón de cierre del modal -->
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Formulario para guardar un registro -->
                    <form id="saveForm" style="background-color: #DDA35D;">
                        <div class="modal-body row g-3">
                            <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                            <input type="hidden" id="idCliente" name="idCliente">

                            <!-- Campos del formulario -->
                            <div class="col-sm-12 col-md-6">
                                <div class="input_box py-3">
                                    <input id="nombreCliente" type="text" name="nombreCliente"
                                        class="fw-bold text-white" required>
                                    <span>Nombre :</span>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="input_box py-3">
                                    <input id="apellidoCliente" type="text" name="apellidoCliente"
                                        class="fw-bold text-white" required>
                                    <span>Apellido :</span>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="input_box py-3">
                                    <input id="correoCliente" type="email" name="correoCliente"
                                        class="fw-bold text-white" required>
                                    <span>Correo :</span>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="input_box py-3">
                                    <input id="telefonoCliente" name="telefonoCliente"
                                        class="fw-bold text-white" placeholder="0000-0000" required>
                                    <span>Teléfono :</span>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6" id="divAlias">
                                <div class="input_box py-3">
                                    <input id="aliasCliente" type="text" name="aliasCliente" class="fw-bold text-white"
                                        required>
                                    <span>Alias :</span>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6" id="divClave">
                                <div class="input_box py-3">
                                    <input id="claveCliente" type="password" name="claveCliente"
                                        class="fw-bold text-white" required>
                                    <span>Contraseña :</span>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6" id="divConfirmar">
                                <div class="input_box py-3">
                                    <input id="confirmarClave" type="password" name="confirmarClave"
                                        class="fw-bold text-white" required>
                                    <span>Confirmar contraseña :</span>
                                </div>
                            </div>
                            <div class="col-6 d-flex align-items-end">
                                <div class="p-3">
                                    <!-- Interruptor para el estado del registro -->
                                    <div class="switch-button">
                                        <p id="">Estado</p>
                                        <input type="checkbox" name="estadoCliente" id="estadoCliente"
                                            class="switch-button__checkbox form-control">
                                        <label for="estadoCliente" id="swa" class="switch-button__label"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Pie del modal con botón de guardar -->
                        <div class="modal-footer border-0">
                            <button id="idGuardar" type="submit" class="btn"
                                style="background-color: #CCC8AA;">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="../../resources/js/vanillaTextMask.js"></script>
    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio privado -->
    <script type="text/javascript" src="../../controllers/utils/admin.js"></script>
    <script type="text/javascript" src="../../controllers/utils/inactividad.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../../controllers/admin/5clientes.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

</body>

</html>
