<!DOCTYPE html>
<!-- Declaración del idioma para el documento -->
<html lang="es">

<head>
    <!-- Título del documento -->
    <title></title>
    <!-- Metadatos de la página web -->
    <meta charset="utf-8">
    <meta name="author" content=" ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Llamada al icono de la página web -->
    <link type="image/png" rel="icon" href="../../resources/img/icon.png">
    <!--Llamada a estilos personalizadas-->
    <link href="../../resources/css/nav.css" rel="stylesheet">
    <link rel="stylesheet" href="../../resources/css/univer.css">
    <link href="../../resources/css/graficos.css" rel="stylesheet">
    <!-- Llamada a las hojas de estilos del framework e iconos -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <!--FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>

<body class="bodyp">
    <!-- Contenido principal del documento -->
    <main>
        <!-- Título del contenido principal -->
        <h3 id="mainTitle" class="mt-5 text-white"></h3>

        <div class="dashboard-container text-center">
            <div class="dashboard-item text-center d-flex flex-column align-items-center text-dark">
                <h4 class="">5 Combos más pedidos</h4>
                
                <!-- Se muestra un gráfico con la cantidad de productos por categoría -->
                <canvas id="chart1"></canvas>
            </div>

            <div class="dashboard-item text-center d-flex flex-column align-items-center text-dark">
                <h4>5 Complementos más pedidos</h4>
                
                <canvas id="chart2"></canvas>
            </div>

            <div class="dashboard-item text-center d-flex flex-column align-items-center text-dark">
                <h4>Top clientes con más pedidos</h4>
                <div class="col-5 mb-3">
                    <label for="list3" class="form-label">Filtrar</label>
                    <select id="list3" name="list3" class="form-select text-center" required>
                        <option class="fs-5 py-2" value="5">5 clientes</option>
                        <option class="fs-5 py-2" value="3">3 clientes</option>
                        <option class="fs-5 py-2" value="6">6 clientes</option>
                    </select>
                </div>
                <canvas id="chart3"></canvas>
            </div>
            <div class="dashboard-item text-center d-flex flex-column align-items-center text-dark">
                <h4>Categorías más pedidas</h4>
                <div class="col-5 mb-3">
                    <label for="list4" class="form-label">Filtrar</label>
                    <select id="list4" name="list4" class="form-select text-center" required>
                        <option class="fs-5 py-2" value="5">5 categorías</option>
                        <option class="fs-5 py-2" value="3">3 categorías</option>
                        <option class="fs-5 py-2" value="8">8 categorías</option>
                        <option class="fs-5 py-2" value="10">10 categorías</option>
                    </select>
                </div>
                <canvas id="chart4"></canvas>
            </div>
            <div class="dashboard-item text-center d-flex flex-column align-items-center text-dark">
                <h4 class="">Ganancias de los últimos meses</h4>
                <div class="col-5 mb-3">
                    <label for="list5" class="form-label">Filtrar</label>
                    <select id="list5" name="list5" class="form-select text-center" required>
                        <option class="fs-5 py-2" value="5">5 meses</option>
                        <option class="fs-5 py-2" value="3">3 mes</option>
                        <option class="fs-5 py-2" value="12">1 año</option>
                    </select>
                </div>
                <!-- Se muestra un gráfico con el porcentaje de productos por categoría -->
                <canvas id="chart5"></canvas>
            </div>
            <div class="dashboard-item text-center d-flex flex-column align-items-center text-dark">
                <h4>Horario con más pedidos</h4>
                <div class="col-5 mb-3">
                    <label for="list6" class="form-label">Filtrar</label>
                    <select id="list6" name="list6" class="form-select text-center" required>
                        <option class="fs-5 py-2" value="5">Hace 1 mes</option>
                        <option class="fs-5 py-2" value="3">Hace 3 meses</option>
                        <option class="fs-5 py-2" value="6">Hace 6 meses</option>
                        <option class="fs-5 py-2" value="6">Hace 1 año</option>
                    </select>
                </div>
                <canvas id="chart6"></canvas>
            </div>
            <div class="dashboard-item text-center d-flex flex-column align-items-center text-dark">
                <h4>Clientes proximos</h4>
                <div class="col-5 mb-3">
                    <label for="list7" class="form-label">Filtrar</label>
                    <select id="list7" name="list7" class="form-select text-center" required>
                        <option class="fs-5 py-2" value="5">Hace 5 meses</option>
                        <option class="fs-5 py-2" value="3">Hace 3 mes</option>
                        <option class="fs-5 py-2" value="12">Hace 1 año</option>
                    </select>
                </div>
                <canvas id="chart7"></canvas>
            </div>
            <div class="dashboard-item text-center d-flex flex-column align-items-center text-dark">
                <h4>Usuarios registrados</h4>
                <div class="col-5 mb-3">
                    <label for="list8" class="form-label">Filtrar</label>
                    <select id="list8" name="list8" class="form-select text-center" required>
                        <option class="fs-5 py-2" value="5">Hace 5 meses</option>
                        <option class="fs-5 py-2" value="3">Hace 3 mes</option>
                        <option class="fs-5 py-2" value="12">Hace 1 año</option>
                    </select>
                </div>
                <canvas id="chart8"></canvas>
            </div>
            <div class="dashboard-item text-center d-flex flex-column align-items-center text-dark">
                <h4>5 Roles con más usuarios</h4>
                
                <canvas id="chart9"></canvas>
            </div>
            <div class="dashboard-item text-center d-flex flex-column align-items-center text-dark">
                <h4>10 Items más usados en combos y complementos</h4>
                
                <canvas id="chart10"></canvas>
            </div>
        </div>
        <!-- Importación de la librería para generar los gráficos. Para más información https://www.chartjs.org/ -->
        <script type="text/javascript" src="../../resources/js/chart.umd.min.js"></script>
    </main>
    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio privado -->
    <script type="text/javascript" src="../../controllers/utils/admin.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../../controllers/admin/dashboard.js"></script>
</body>

</html>