<!doctype html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>HGC Administración</title>
	<link href="../../resources/css/login.css" rel="stylesheet">
	<link href="../../resources/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
	<!--FONTS-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>
	<div class="body">
		<div class="veen">
			<!-- Formulario de inicio de sesión -->
			<div class="wrapper">
				<div class="logo-container">
					<img src="../../resources/img/icon.png" class="imglogo" alt="">
				</div>
				<form id="loginForm" tabindex="500" class="d-none" autocomplete="off">
					<h3 id="mainTitle">Inicio de Sesión</h3>
					<div class="usuariol">
						<input id="usuariol" type="text" name="usuariol" class="form-control" required autocomplete="off">
						<label>Usuario</label>
					</div>
					<div class="clavel" style="position: relative;">
						<input id="clavel" type="password" name="clavel" class="form-control" required autocomplete="off">
						<label>Contraseña</label>
						<span id="togglePassword" class="password-toggle" >
							<i class="bi bi-eye-fill" id="eyeIcon"></i>
						</span>
					</div>
					<div class="submit">
						<button class="dark">Confirmar</button>
						<a href="verifUs.html" style="text-decoration: none;"><h6 class="pt-4">Olvide mi contraseña</h6></a>
					</div>
				</form>

				<!-- Formulario de registro -->
				<form id="signupForm" tabindex="502" class="d-none">
					<h3>Registrarse</h3>
					<!--Campos que pide el formulario-->
					<div class="name">
						<input autocomplete="off" id="nombre" type="text" name="nombre" class="form-control" required>
						<label>Nombres</label>
					</div>
					<div class="Apellidos">
						<input autocomplete="off" type="text" id="apellido" name="apellido" class="form-control" required>
						<label>Apellidos</label>
					</div>
					<div class="mail">
						<input autocomplete="off" type="mail" id="correo" name="correo" class="form-control" required>
						<label>Correo</label>
					</div>
					<div class="uid">
						<input autocomplete="off" type="text" id="usuario" name="usuario" class="form-control" required>
						<label>Usuario</label>
					</div>
					<div class="passwd" id="">
						<input autocomplete="off" type="password" name="clave" id="clave" class="form-control" required>
						<label>Contraseña</label>
					</div>
					<div class="passwd" id="">
						<input autocomplete="off" id="confirmarClave" type="password" name="confirmarClave" class="form-control" required>
						<label>Confirmar Contraseña</label>
					</div>
					<div class="submit">
						<button class="dark">Registrarse</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<main></main>

	<!-- Inclusión de Bootstrap JS y otros scripts -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
	<script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<!-- Llamada a los controladores de la página web -->
	<script type="text/javascript" src="../../controllers/utils/components.js"></script>
	<script type="text/javascript" src="../../controllers/utils/admin.js"></script>
	<script type="text/javascript" src="../../controllers/admin/index.js"></script>
</body>


</html>
