<!DOCTYPE html>
<!-- Declaración del idioma para el documento -->
<html lang="es">

<head>
    <!-- Título del documento -->
    <title></title>
    <!-- Metadatos de la página web -->
    <meta charset="utf-8">
    <meta name="author" content=" ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- IMPORTACIÓN DE RECURSOS EXTERNOS -->
    <!-- Llamada al icono de la página web -->
    <link href="../../resources/css/nav.css" rel="stylesheet">
    <link rel="stylesheet" href="../../resources/css/estado.css">
    <link rel="stylesheet" href="../../resources/css/card_2.css">
    <link rel="stylesheet" href="../../resources/css/btn_e.css">
    <link rel="stylesheet" href="../../resources/css/univer.css">
    <link rel="stylesheet" href="../../resources/css/busca.css">
    <link rel="stylesheet" href="../../resources/css/input_b.css">
    <!-- Llamada a las hojas de estilos del framework e iconos -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>

<body class="bodyp">
    <!-- Contenido principal del documento -->
    <main>
        <!-- Título del contenido principal -->
        <h3 id="mainTitle" class="mt-5 text-white"></h3>
        <div id="mensaje"></div>
        <div class="row d-flex justify-content-center">
            <!-- Columna 1: Video de uso -->
            <div class="col-12 d-flex flex-column align-items-center mb-5">
                <div class="mb-4 fw-bold display-5 text-white">Vídeos de uso</div>
                <iframe width="700" height="450" src="https://www.youtube.com/embed/hjvLnnHxqus?si=EJirE2W2qGJ7QfOp"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
    
            <!-- Columna 2: Manual de usuario -->
            <div class="col-12 d-flex flex-column align-items-center mb-5">
                <div class="mb-4 fw-bold display-5 text-white">Manual de usuario</div>
                <iframe src="https://docs.google.com/viewer?url=https://leac.website/HCG/views/admin/manual.pdf&embedded=true"
                    height="500" width="900" style="border: none;"></iframe>
            </div>
    
            <!-- Columna 3: Manual técnico -->
            <div class="col-12 d-flex flex-column align-items-center mb-5">
                <div class="mb-4 fw-bold display-5 text-white">Manual técnico</div>
                <iframe src="https://docs.google.com/viewer?url=https://leac.website/HCG/views/admin/manual.pdf&embedded=true"
                    height="500" width="900" style="border: none;"></iframe>
            </div>
        </div>



    </main>
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <script type="text/javascript" src="../../controllers/utils/inactividad.js"></script>
    <!-- Llamada al controlador del sitio privado -->
    <script type="text/javascript" src="../../controllers/utils/admin.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../../controllers/admin/manual.js"></script>

</body>

</html>