<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Restaurante</title>
    <!-- Llamada al icono de la página web -->
    <link type="image/png" rel="icon" href="../../resources/img/icon.png">
    <!-- Llamada a las hojas de estilos del framework e iconos -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/menu_dia.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- Llamada a estilo de letra para esta ventana -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="logo-container">
        <img src="../../resources/img/logoPublicidad.png" class="imglogo" alt="Logo">
    </div>
    <div class="imghamburguesa-container">
        <img src="../../resources/img/hamburguesa.png" class="imghamburguesa" alt="Hamburguesa">
    </div>

    <div class="menu-header">
        <h1>Menú del día</h1>
        <p id="MAIN_TITLE"></p>
    </div>


    <div class="menu-container">
        <div class="menu-section">
            <div class="menu-category">
                <h2 id="TIME"></h2>
                <div class="row" id="conjuntos">

                </div>
            </div>
        </div>

        <div class="menu-section">
            <div class="menu-category">
                <h2>Complementos</h2>
                <div class="row" id="complementos">

                </div>
            </div>
        </div>
    </div>

    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio público -->
    <script type="text/javascript" src="../../controllers/utils/admin.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../../controllers/admin/menudia.js"></script>
</body>

</html>