<!DOCTYPE html>
<!-- Declaración del idioma para el documento -->
<html lang="es">

<head>
    <!-- Título del documento -->
    <title></title>
    <!-- Metadatos de la página web -->
    <meta charset="utf-8">
    <meta name="author" content=" ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../resources/css/nav.css">
    <!-- IMPORTACIÓN DE RECURSOS EXTERNOS -->
    <!-- Llamada al icono de la página web -->
    <link type="image/png" rel="icon" href="../../resources/img/icon.png">
    <link rel="stylesheet" href="../../resources/css/estado.css">
    <link rel="stylesheet" href="../../resources/css/busca.css">
    <link rel="stylesheet" href="../../resources/css/btn_e.css">
    <link rel="stylesheet" href="../../resources/css/tarjeta.css">
    <link rel="stylesheet" href="../../resources/css/card_2.css">
    <link rel="stylesheet" href="../../resources/css/univer.css">
    <link rel="stylesheet" href="../../resources/css/input_b.css">
    <link rel="stylesheet" href="../../resources/css/toggle.css">
    <!-- Llamada a las hojas de estilos del framework e iconos -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <!--FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>

<body class="bodyp">
    <!-- Contenido principal del documento -->
    <main>

        <div id="mainTitle"></div>
        <div id="mensaje"></div>

        <h1 id="" style="text-align: center; color: black; margin-top: 10px;">Perfil</h1>
        <div class="perPro">
            <img src="../../resources/img/avatar.png" height="200px" width="200px" alt="">
        </div>
        <!-- Formulario para cambiar datos personales -->
        <div class="backPro">
            <form class="row g-3 pt-3" id="profileForm">
                <div class="col-sm-12 col-md-6 col-lg-4 offset-lg-2">
                    <div class="input_box">
                        <input required="" type="text" id="nombreAdministrador" name="nombreAdministrador">
                        <span>Nombre :</span>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="input_box">
                        <input required="" id="apellidoAdministrador" type="text" name="apellidoAdministrador">
                        <span>Apellido :</span>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 offset-lg-2">
                    <div class="input_box">
                        <input required="" id="correoAdministrador" type="email" name="correoAdministrador">
                        <span>Correo :</span>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="input_box">
                        <input required="" id="aliasAdministrador" type="text" name="aliasAdministrador">
                        <span>Usuario :</span>
                    </div>
                </div>
                <div class="col-12 text-center ">
                    <span>Segundo factor de auntenticacion</span>
                    <div class="toggle-wrapper pb-4">
                        <input class="toggle-checkbox form-control" type="checkbox" id="twoFA" name="twoFA">
                        <div class="toggle-container">  
                          <div class="toggle-button">
                          </div>
                        </div>
                      </div>
                </div>
        </div>
      


        <div class="text-center mt-4">
            <button type="submit" class="btnAgregar" style="background-color: #CCC8AA;"><i class="bi bi-save"></i>
                Guardar</button>
        </div>
        </form>
        <!-- Contenedor con enlace para abrir la caja de diálogo del formulario de cambiar constraseña -->
        <div class="text-center p-3">
            <button type="button" class="btnAgregar" onclick="openPassword()">
                <i class="bi bi-shield-lock"></i> Cambiar contraseña
            </button>
        </div>
        </div>
        <!-- Componente Modal para mostrar el formulario de cambio de contraseña -->
        <div class="modal fade" id="passwordModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <!-- Contenido del componente Modal -->
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #5C2C0C;">
                        <h1 class="modal-title fs-5 text-white" id="modalTitle">Cambiar contraseña</h1>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <!-- Formulario para actualizar contraseña -->
                    <form id="passwordForm" style="background-color: #DDA35D;">
                        <div class="modal-body row g-3">

                            <div class="col-sm-12 col-md-6 offset-md-3">
                                <div class="input_box">
                                    <input id="claveActual" type="password" name="claveActual" class="text-white"
                                        required>
                                    <span>Contraseña actual :</span>
                                </div>
                            </div>
                            <div class="col-12 text-center text-white">
                                <span>CONTRASEÑA NUEVA</span>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="input_box">
                                    <input id="claveNueva" type="password" name="claveNueva" class="text-white"
                                        required>
                                    <span>Contraseña actual :</span>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 ">
                                <div class="input_box">
                                    <input id="confirmarClave" type="password" name="confirmarClave" class="text-white"
                                        required>
                                    <span>Confirmar contraseña :</span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <!--Se guardan los cambios-->
                            <button type="submit" class="btn" style="background-color: #CCC8AA;">
                                Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio privado -->
    <script type="text/javascript" src="../../controllers/utils/admin.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../../controllers/admin/profile.js"></script>
    <script type="text/javascript" src="../../controllers/utils/inactividad.js"></script>

</body>

</html>