body {
    display: flex;
    height: 100vh;
    margin: 0;
}

.image-side {
    flex: 0.7;
    background: url('../img/prueba.jpg') no-repeat center center;
    background-size: cover;
}

.image-side2 {
    flex: 0.7;
    background: url('../img/gifRecup.gif') no-repeat center center;
    background-size: cover;
}


.image-side3 {
    flex: 0.7;
    background: url('../img/gifLogin.gif') no-repeat center center;
    background-size: cover;
}



.form-side {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.form-container {
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.inputs-custom {
    border: 2px solid #7a7a7a;
    /* Borde de 1px y color negro */
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    width: 40px;
    height: 40px;
    text-align: center;
}

.btn-custom {
    background-color: #f08d33;
    color: white;
    border: none;
}

.btn-custom:hover {
    background-color: #d9782c;
    color: #FFFFFF;
}

.backgroundRecup {
    background: rgb(253,195,102);
    background: linear-gradient(90deg, rgba(253,195,102,1) 39%, rgba(255,195,95,1) 66%, rgba(212,212,212,0.969625350140056) 92%);
}

.backgroundRecupPublic{
    background: rgb(247,226,176);
background: linear-gradient(90deg, rgba(247,226,176,1) 48%, rgba(250,237,208,1) 72%, rgba(212,212,212,0.969625350140056) 92%);
}

/* Boton de la pantalla de recuperacion de contraseña, parte donde el usuario cambia la contraseña */

.ButtonRecup2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #5f3908;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.514);
    overflow: hidden;
    cursor: pointer;
    border: #351e00;
    width: 100%;
    height: 30px;
}

.ButtonRecup2:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #b37525d2;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
}

.ButtonRecup2:hover::after {
    right: auto;
    left: 0;
    width: 100%;
}

.ButtonRecup2 span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 25px;
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
}

.ButtonRecup2:hover span {
    color: #fff;
    animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}