<!DOCTYPE html>
<!-- Declaración del idioma para el documento -->
<html lang="es">

<head>
    <!-- Título del documento -->
    <title></title>
    <!-- Metadatos de la página web -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Llamada al icono de la página web -->
    <link type="image/png" rel="icon" href="../../resources/img/icon.png">
    <!-- Llamada a las hojas de estilos del framework e iconos -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <!-- ESTILOS DE CSS -->
    <link rel="stylesheet" href="../../resources/css/navpub.css">
    <link rel="stylesheet" href="../../resources/css/tarjeta.css">
    <link rel="stylesheet" href="../../resources/css/univer.css">
    <link rel="stylesheet" href="../../resources/css/btn_e.css">
    <link rel="stylesheet" href="../../resources/css/busca.css">
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>

<body class="bodyp">

    <!-- Contenido principal del documento -->
    <main>
        <!-- Título del contenido principal -->
        <h4 id="mainTitle" class="m-5" style="color: white; font-size: 35px; ">Catalogo</h4>
        <!-- Contenedor para mostrar las categorías disponibles -->
        <div class="row">
            <div class="col-2"></div>
            <div class="col-2">
                <button type="button" class="btnAgregar" style="float: right;">
                    Desayuno
                </button>
            </div>
            <div class="col-2">
                <button type="button" class="btnAgregar" >
                    Desayuno
                </button>
            </div>
            <div class="col-2">
                <button type="button" class="btnAgregar" >
                    Desayuno
                </button>
            </div>
            <div class="col-2">
                <button type="button" class="btnAgregar" style="float: left;">
                    Desayuno
                </button>
            </div>
            <div class="col-2"></div>
        </div>
    </main>
    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio público -->
    <script type="text/javascript" src="../../controllers/utils/public.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../../controllers/public/index.js"></script>
</body>

</html>