<!DOCTYPE html>
<!-- Declaración del idioma para el documento -->
<html lang="es">

<head>
    <!-- Título del documento -->
    <title></title>
    <!-- Metadatos de la página web -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- IMPORTACIÓN DE RECURSOS EXTERNOS -->
    <!-- Llamada al icono de la página web -->
    <link type="image/png" rel="icon" href="../../resources/img/icon.png">
    <!-- ESTILOS DE CSS -->
    <link rel="stylesheet" href="../../resources/css/detcar.css">
    <link rel="stylesheet" href="../../resources/css/btn_e.css">
    <link rel="stylesheet" href="../../resources/css/input_b.css">
    <link rel="stylesheet" href="../../resources/css/busca.css">
    <link rel="stylesheet" href="../../resources/css/univer.css">
    <link rel="stylesheet" href="../../resources/css/card_2.css">
    <link href="../../resources/css/stars.css" rel="stylesheet">
    <link rel="stylesheet" href="../../resources/css/navpub.css">
    <!-- Llamada a las hojas de estilos del framework e iconos -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">

</head>

<body class="bodyp">
    <!-- Contenido principal del documento -->
    <main>
        <div id="contenido">
            <!-- Título del contenido principal -->

            <h4 id="mainTitle" class="mt-4 "></h4>

            <!-- Componente Horizontal Card para mostrar el detalle de un Modelo -->

            <div class="cardlard mb-3" id="detalle">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <!-- Se muestra la imagen del Modelo -->
                        <img id="imagenProducto" class="imgSize">
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-lg-6 col-md-12">
                        <form class="" id="saveForm">
                        <div class="card-body">
                            <input type="hidden" id="idProducto" name="idProducto">

                            <div class="row">
                                <p class="col-sm-12 col-md-6 card-title text-center" id="tipoProducto">Tipo:</p>
                                <p class="col-sm-12 col-md-6 card-title text-center" id="precioProducto">Precio:</p>
                            </div>

                            <div id="tableSelected" class="col-12 text-center">
                                <!-- Tabla para mostrar los registros en la subtabla -->
                                <div class="mt-4 table-responsive border-0"
                                    style="max-height: 200px; overflow-y: auto;">
                                    <table id="subheaderTU" class="cardlard table-hover">
                                        <!-- Cabeza de la tabla para mostrar la cantidad de registros y los títulos de las columnas -->
                                        <thead>
                                            <tr>
                                                <th>ITEM</th>
                                                <th>TIPO</th>
                                                <th>CANTIDAD</th>
                                            </tr>
                                        </thead>
                                        <!-- Cuerpo de la tabla para mostrar un registro por fila -->
                                        <tbody id="selectedItemsListU"></tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center  m-4">
                                <div class="input_box col-md-6">
                                    <input required="Q" min="1" step="1" type="number" id="cantidadProducto"
                                        name="cantidadProducto" name="cantidadProducto" class="form-control">
                                        
                                    <span>Cantidad :</span>
                                </div>
                            </div>
                            <div id="mensajeDiv" class="col-12 text-center" style="display: none;"></div>
                            <div class="col-12  mt-4 mb-4">
                                <div class="input_box">
                                    <span>Nota :</span>
                                    <textarea id="notaProducto" type="text" name="notaProducto" class="form-control"
                                        rows="3" name="notaProducto" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end pb-3" id="idGuardar">
                            <button type="submit" class="btnAgregar">Agregar al pedido</button>
                        </div>
                        </form>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>

    </main>
    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio público -->
    <script type="text/javascript" src="../../controllers/utils/public.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../../controllers/public/detail.js"></script>
</body>

</html>