<!DOCTYPE html>
<!-- Declaración del idioma para el documento -->
<html lang="es">

<head>
    <!-- Título del documento -->
    <title></title>
    <!-- Metadatos de la página web -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- IMPORTACIÓN DE RECURSOS EXTERNOS -->
    <!-- Llamada al icono de la página web -->
    <link rel="stylesheet" href="../../resources/css/navpub.css">
    <link rel="stylesheet" href="../../resources/css/tarjeta.css">
    <link rel="stylesheet" href="../../resources/css/univer.css">
    <link rel="stylesheet" href="../../resources/css/btn_e.css">
    <link rel="stylesheet" href="../../resources/css/busca.css">
    <!-- Llamada a las hojas de estilos del framework e iconos -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>

<body class="bodyp">
    <!-- Contenido principal del documento -->
    <main>
        <!-- Título del contenido principal -->
        <div class="row">
            <div class="col-12 contLog" style="margin-top: 40px;">
                <h4 id="mainTitle" style="color: white; font-size: 28px;" class="m-4"></h4>
                <!-- Formulario para iniciar sesión -->
                <form class="row g-4 " id="sessionForm" >
                    <!-- Campo oculto para asignar el token del reCAPTCHA -->
                    <div class="col-12 d-flex justify-content-center">
                        <input type="text" style="width: 50%;" placeholder="Usuario" id="usu" name="usu" class="inputtt" required>
                    </div>
                    <div class="col-12 d-flex justify-content-center mt-5">
                        <input type="password" style="width: 50%;" placeholder="Contraseña" id="clave" name="clave" class="inputtt" required>
                    </div>
                    <div class="col-12 text-center">
                        <!-- Enlace para recuperar contraseña -->
                        <a href="recupclave.html" class="btn text-white"> ¿Olvidaste tu contraseña? </a>
                    </div>
                    <div class="col-12 text-center mt-3 mb-3">
                        <button type="submit" class="ButtonRecup2">
                            <span>Ingresar</span>
                        </button>
                    </div>
                    <div class="col-12 text-center mb-3">
                        <!-- Enlace para crear una cuenta de usuario -->
                        <a href="signup.html" class="btn text-white"> Crear cuenta </a>
                    </div>
                </form>
            </div>
        </div>



    </main>
    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio público -->
    <script type="text/javascript" src="../../controllers/utils/public.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../../controllers/public/login.js"></script>
</body>

</html>