<!DOCTYPE html>
<!-- Declaración del idioma para el documento -->
<html lang="es">

<head>
    <!-- Título del documento -->
    <title></title>
    <!-- Metadatos de la página web -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- IMPORTACIÓN DE RECURSOS EXTERNOS -->
    <!-- Llamada al icono de la página web -->
    <link type="image/png" rel="icon" href="../../resources/img/icon.png">
    <link rel="stylesheet" href="../../resources/css/about_us_public.css">
    <link rel="stylesheet" href="../../resources/css/btn.css">
    <link rel="stylesheet" href="../../resources/css/input.css">
    <link rel="stylesheet" href="../../resources/css/busca.css">
    <!-- Llamada a las hojas de estilos del framework e iconos -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../resources/css/navpub.css">
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">

    <style></style>
</head>

<body>
    <!-- Contenido principal del documento -->
    <main>
        <!-- Título del contenido principal -->
        <h4 id="mainTitle" class="m-4"></h4>
        <div class="container">
            <h1 class="mt-5 mb-3">Bienvenidos al Sitio Web de la Cafetería del Hospital Centro Ginecológico</h1>
            <p>En la Cafetería del Hospital Centro Ginecológico, nos enorgullece ofrecer un espacio acogedor
                y tranquilo donde pacientes, familiares y el personal de salud pueden disfrutar de alimentos frescos,
                nutritivos y deliciosos.</p>
            <p>En este sitio web, podrás conocer más sobre nuestro menú diario, nuestras promociones especiales, y los
                servicios que ofrecemos,
                incluyendo pedidos anticipados y opciones para llevar. También compartimos información sobre los
                horarios de atención, ubicaciones dentro del hospital, y las medidas de seguridad que seguimos para
                garantizar una experiencia segura y agradable.</p>
            <div class="container">
                <div class="row mt-5">
                    <div class="col-md-6">
                        <div class="card bg-light">
                            <div class="card-header">
                                <h2 class="mt-0">Misión</h2>
                            </div>
                            <div class="card-body">
                                <p>Nuestra misión es ofrecer una experiencia rápida, eficiente y personalizada en la
                                    gestión de pedidos de la cafetería del Hospital Centro Ginecológico, facilitando a
                                    los usuarios acceso a productos frescos y saludables
                                    de manera cómoda y segura. A través de nuestra aplicación, buscamos optimizar la
                                    operación del establecimiento y mejorar la satisfacción tanto de los clientes como
                                    del personal del hospital, garantizando un servicio de calidad que se alinee con los
                                    estándares del centro..</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card bg-light">
                            <div class="card-header">
                                <h2 class="mt-0">Visión</h2>
                            </div>
                            <div class="card-body">
                                <p>Nuestra visión es convertirnos en una solución tecnológica líder en el sector
                                    hospitalario, proporcionando una plataforma innovadora que transforme la gestión de
                                    cafeterías y servicios alimenticios. Aspiramos a expandir el uso de nuestra
                                    aplicación a más hospitales y centros de salud, mejorando la calidad de vida de los
                                    usuarios mediante una atención rápida, confiable y adaptada a sus necesidades,
                                    contribuyendo al bienestar integral de los pacientes y visitantes.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="mt-4">Valores</h2>
            <ul>
                <li>
                    <b>Calidad:</b>
                    Nos comprometemos a ofrecer productos frescos y nutritivos, asegurando la mejor experiencia para
                    nuestros usuarios.
                </li>
                <li>
                    <b>Eficiencia:</b>
                    Valoramos el tiempo de nuestros clientes, por lo que nos esforzamos en ofrecer un servicio rápido y
                    sin complicaciones, optimizando cada paso desde la orden hasta la entrega.
                </li>
                <li>
                    <b>Innovación:</b>
                    Apostamos por la tecnología como motor de cambio, buscando constantemente nuevas formas de mejorar y
                    agilizar la experiencia de nuestros usuarios.
                </li>
                <li>
                    <b>Servicio al cliente:</b>
                    Nos enfocamos en brindar un servicio amable, cercano y personalizado, adaptándonos a las necesidades
                    específicas de cada persona.
                </li>
                <li>
                    <b>Responsabilidad:</b>
                    Mantenemos altos estándares de seguridad alimentaria y de higiene, garantizando la salud y bienestar
                    de nuestros clientes.
                </li>
            </ul>
    </main>
    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio público -->
    <script type="text/javascript" src="../../controllers/utils/public.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../../controllers/public/manual.js"></script>
</body>

</html>